:root {
  --color-primary: rgba(193, 119, 121, 0.69);
  --second-color:  #fff;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body{
    z-index: 1;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

header{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	background: #C17779;
}

header #button-menu{
	font-size: 50px;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

h4{
  color: #003e73;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

.spacebar-my{
    width: 100%;
    height: 90px;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #FDB7B9 50%, #60BFC1 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.navigation{
    --primary-color: #003e73;
	position: absolute;
	top: 100%;
	left: -32px;
	width: 0%;
	height: 110vh;
	background: rgba(0,0,0,.0);
	position:absolute;
    z-index: 100;
    overflow-y: hidden;
}

.navigation ul{
	width: 300px;
	height: 100%;
	background: var(--second-color);
	list-style: none;
	z-index: 100;

	position: absolute;
	top: 0;
	left: -300px;

	transition: left .3s;
}

.navigation .menu li.title-menu{
	padding: 20px;
	background: var(--primary-color);
	color: var(--second-color);
	text-align: center;
	font-size: 22px;
	z-index: 100;
}

.navigation .menu a{
	display: block;
	padding: 20px;
	border-bottom: 1px solid #C6D0DA;
	z-index: 100;

	font-size: 22px;
	font-weight: 200;
	text-decoration: none;
	color: var(--color-primary);
}

.navigation .menu a:hover{
	background: var(--color-primary);
	color: #fff;
	z-index: 100;
}

.navigation .menu li span.icon-menu{
	margin-right: 12px;
	z-index: 100;
}

.navigation .menu .item-submenu > a::after{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f105';
	z-index: 100;

	float: right;
	color: #C5C5C5;
}

/* Submenu ============*/

.navigation .submenu li.title-menu{
	background: var(--second-color);
	color: var(--color-primary);
	z-index: 100;
}

.navigation .submenu li.go-back{
	padding: 10px 20px;
	background: var(--primary-color);
	color: var(--second-color);
	font-size: 18px;
	cursor: pointer;
	z-index: 100;
}

.navigation .submenu li.go-back::before{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f0d9';
	margin-right: 10px;
	z-index: 100;
}

.status{
    width: 130px;
    height: 40px;
    border-radius: 60px;
    background-color: #BADFD7;
    text-align: center;
    color: #003e73;
    line-height: 1em;
    flex-grow: 0;
    flex-shrink: 0;
    vertical-align: middle;
}

.register-form {
    padding-left: 10%;
    padding-right: 10%;
}

.add
{
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px dashed grey;
  margin: 10px 0;
}

.navbar-nav>li>a {
     color: white;
     padding-top: 3px;
     font-size: 12px;
    }

@media screen and (max-width: 300px){
	.navigation ul{
		width: 100%;
	}
}