{% extends "base.html" %}

{% block content %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<section class="content-info">
    <!-- name и date должны быть передан одной строкой -->
    <h3>{{ name }}</h3>
    <div class="news-wrapper">
        <div class="status d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Роль в школе"><a>{{ status }}</a></div>
        <div style="min-width: 10px; height: 20px;"></div>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" style="height: 20px;" title="Дата и время публикации">
            <a style="vertical-align: top; ">{{ date }}</a>
        </span>
    </div>
</section>
<div class="content-news">
    <hr width="100%" size="7" color="#C17779"/>
    <h4>{{ title }}</h4>
    <hr width="100%" size="7" color="#C17779"/>
    <h5>{{ text }}</h5>
</div>
{% endblock %}