{% extends "base.html" %}

{% block optional_links %}

{% endblock %}


{% block content %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="spacebar-my"></div>
<div class="container-fluid my-carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/../static/img/carousel-1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Какая-то умная фраза про детей</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/../static/img/carousel-2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Еще одна фраза, но про подростков</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/../static/img/carousel-3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Третья фраза очень мотивирующая</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</div>
<div class="spacebar-my"></div>
<div class="container-fluid index-description">
    <div class="container-fluid text-description">
        <blockquote class="blockquote">
            <h3 align="right"><em>❝Non scholae, sed vitae discimus.❞</em></h3>
            <p align="right"><em>Мы учимся не для школы, а для жизни</em></p>
        </blockquote>
        <h2>{{ content_text }}</h2>
    </div>
</div>
<div class="spacebar-my"></div>
<h1 align="center">Новости!</h1>

<div class="container px-4">
    {% for item in news %}
    {% if (loop.index - 1) % 3 == 0%}
    <div class="row">
        {% endif %}

        <div class="col-sm container-index">
            <div class="news-content">
                <a href="/news/{{ item.id }}">{{ item.title }}</a>
            </div>
            <hr width="100%" size="7" color="#C17779"/>
            <div class="content-info-index">
                <h4>{{ item.user.surname }} {{ item.user.name }}</h4>
                <div class="info-wrapper">
                    <div class="status d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Роль в школе"><a>{{
                        make_readable_status(item.user.status_id) }}</a></div>
                    <div style="min-width: 10px; height: 40px;"></div>
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" style="height: 40px;"
                          title="Дата и время публикации">
                        <a style="vertical-align: top; ">{{ item.date }}</a>
                    </span>
                </div>
            </div>
            {% if current_user.is_authenticated and current_user == item.user %}
            <div>
                <a href="/news_change/{{ item.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
            {% endif %}
        </div>

        {% if (loop.index - 1) % 3 == 1 or (loop.index - 1) % 3 == 0 %}
        <div class="spacebar-news"></div>
        {% endif %}

        {% if (loop.index - 1) % 3 == 2%}
    </div>
    <div class="spacebar-news"></div>
    {% endif %}
    {% endfor %}
</div>

<div class="spacebar-my"></div>

{% endblock %}