{% extends "base.html" %}

{% block content %}
<div class="container-fluid register-form">
    <h1>Завершение регистрации</h1>
    <form action="/register/{{ account_id }}/{{ filename }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.work_exp.label }}<div style="width:70%;height:10px;"></div><span id="rangeval">30</span><br>
            {{ form.work_exp(class="form-range", min="0", max="60", step="0.1", onInput="$('#rangeval').html($(this).val())") }}<br>
            {% for error in form.work_exp.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.academics.label }}<br>
            {{ form.academics(class="form-control") }}<br>
            {% for error in form.academics.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.dir_of_preparation.label }}<br>
            {{ form.dir_of_preparation(class="form-control") }}<br>
            {% for error in form.dir_of_preparation.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>{{ form.subjects.label }}</p>
        {{ form.subjects }}
        {% for error in form.subjects.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}

        {{ form.prof_devop_list.label }}
        {% for nested in form.prof_devop_list %}
            <hr width="100%" size="7" color="#C17779"/>
            {{ nested }}
        {% endfor %}


        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}