{% extends "base.html" %}

{% block content %}
<div class="container-fluid register-form">
<h1>Завершение регистрации</h1>
<form action="/register/{{ account_id }}/{{ filename }}" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.education_class.label }}<br>
        {{ form.education_class(class="form-control") }}<br>
        {% for error in form.education_class.errors %}
            <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>
{% endblock %}