{% extends "base.html" %}

{% block optional_links %}
<script src="/../static/js/register_twists.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid register-form">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <h1 align="center">Регистрация</h1>
    <form action="/register" method="post">
        {{ form.hidden_tag() }}
        <strong>{{message}}</strong>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.patronymic.label }}<br>
            {{ form.patronymic(class="form-control my-input-class") }}<br>
            {% for error in form.patronymic.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.status.label }}<br>
            {{ form.status(class="form-control") }}
            {% for error in form.status.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}